.Hello {
  color: yellow;
  /* background: #000; */
}

.register {
  padding: 50px;
  color: blue;
  background-color: bisque;
}
.form > h2 {
  background-color: yellowgreen;
}
.list {
  padding: 200px;
  margin: 500px;
  background: #000;
}

.img-box {
  width: 200px;
  height: 200px;
  border: 3px solid black;
  cursor: pointer;
  background-color: aqua;
}
.img-box2 {
  width: 200px;
  height: 200px;
  border: 3px solid black;
  cursor: pointer;
  /* background-color: aqua; */
}

.border {
  border: 3px solid black;
  padding: 25px;
}
.light {
  background: #fff;
  color: #000;
  border: 3px solid black;
  padding: 25px;
}
.dark {
  background-color: #000;
  color: white;
  border: 3px solid black;
  padding: 25px;
}
.header {
  width: 100vw;
  height: 10vh;
  background-color: aqua;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.chatApp {
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat {
  width: 40%;
  border: 5px solid black;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: blueviolet;
  flex-direction: column;
}
.chat > textarea,
.chat > input,
.chat > button {
  width: 100%;
  padding: 8px;
}
